html {
    font-size: 62, 5%;
}

body {
    overflow-x: hidden;

    /*FUENTE*/

    font-family: 'Montserrat', sans-serif;


}

#colorFondo {
    background-color: #d9d9d9;

}

h1 {
    color: #81b29a;
    display: inline;
    justify-content: center;
}

h2 {
    color: #3c6e71;
}


.cajacontenedora {

    height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #3c6e71;
    justify-content: space-between;

}

.cajacontenedoraDos {
    background-color: #d9d9d9;
}

.productos {
    font-size: 1.2rem;
    font-weight: 500;

}

.comprar {
    font-size: 1.2rem;
    font-weight: 500;

}


.comprarSubtitulo {
    font-size: 1rem;
    font-weight: 400;
}

.menuPrincipal {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


/*Flexbox*/

.flexTitulo {
    background-color: #284b63;
    text-align: center;
    font-size: 30px;

}

.flexCaja {
    background-color: #3c6e71;
    height: 700px;

    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;

}


img {
    height: 200px;
    width: 200px;

}


.menuDos {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: center;

    align-items: center;
}

/*Grid*/

.padreGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);

    grid-template-areas:
        "logo titulo menu"
        "texto texto texto"
        "imagen1 imagen2 imagen3"
        "imagen4 imagen5 imagen6"
        ". footer ."
    ;

    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-content: center;
    justify-content: center;
}

.TituloPrincipal {

    display: grid;
    flex-direction: center;
    justify-content: center;
}

.logo {
    grid-area: logo;
}

.titulo {
    grid-area: titulo;
}

.texto {
    grid-area: texto;
}

.imagen1 {
    grid-area: imagen1;
}

.imagen2 {
    grid-area: imagen2;
}

.imagen3 {
    grid-area: imagen3;
}

.imagen4 {
    grid-area: imagen4;
}

.imagen5 {
    grid-area: imagen5;
}

.imagen6 {
    grid-area: imagen6;
}

.footer {
    grid-area: footer;
}

.menuPrincipal {
    grid-area: menu;
}

.spacer {
    height: 20px;
    width: 100%;
}

.fede {
    display: flex;
    margin: 0 -1%;
}

.fede fieldset {

    margin: 0 1%;
    text-align: center;
    padding: 20px 10px 10px;
}

@media only screen and (max-width:600px) {
    body {
        background-color: lightblue;

    }
}

@media only screen and (max-with:991px)
{ header{
    background-position: center;
}}