
.imagen1 {
    grid-area: imagen1;
}

.imagen2 {
    grid-area: imagen2;
}

.imagen3 {
    grid-area: imagen3;
}

.imagen4 {
    grid-area: imagen4;
}

.imagen5 {
    grid-area: imagen5;
}

.imagen6 {
    grid-area: imagen6;
}

.img {
    height: 600px;
    width: 600px;

  bg-lav {
    background-color: $colorsecundario;
}
.img2 {
    height: 200px;
    width: 200px;
}

}